server:
  port: 8081

spring:
  application:
    name: ms-payments-fake-api

  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: root
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: ${PAYMENTS_FAKE_DB_SHOW_SQL:true}
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

client:
  authorization:
    url: http://localhost:3001