server:
  port: 8081

spring:
  application:
    name: ms-payments-fake-api

  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: luiz.morais
    password:
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true

#management:
#  otlp:
#    metrics:
#      export:
#        url: http://localhost:4318/v1/metrics
#        step: 10s
